body{
	font-family: "Open Sans","Helvetica Neue","Arial",sans;
	background-color: #f6f6f6;
}

#login{
	width: 455px;
	margin: auto;
	padding: 3% 0px 0px;
}

#login_form{
	margin-top: 20px;
	margin-left: 0px;
	padding: 26px 24px 46px;
	font-weight: 400;
	overflow: hidden;
	background: none repeat scroll 0% 0% #FFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
}

h1{
	font-size: 20px;
	font-family: 'Roboto',Verdana,Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: normal;
}

input[type="email"] {
    font-size: 24px;
    width: 98%;
    padding: 0px;
    margin: 2px 6px 16px 0px;
}

input[type="email"]{
	border: 1px solid #DDD;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
	background-color: #FFF;
	color: #333;
	outline: 0px none;
	transition: border-color 0.05s ease-in-out 0s;
	padding:4px;
}

input[type="password"] {
    font-size: 24px;
    width: 98%;
    padding: 0px;
    margin: 2px 6px 16px 0px;
}

input[type="password"]{
	border: 1px solid #DDD;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
	background-color: #FFF;
	color: #333;
	outline: 0px none;
	transition: border-color 0.05s ease-in-out 0s;
	padding:4px;
}

input[type=submit]{
	transition: all 0.5s ease 0s;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
	padding-right: 20px;
	padding-left: 20px;
	color: white;
	padding-top: 10px !important;
	padding-bottom: 13px !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font-size:16px;
	background-color: black;
	border: 2px solid black;
}

input[type=submit]:hover{
	transition: all 0.4s ease 0s;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.75);
	
}

#submit_btn{
	text-align: center;
}

label{
	font-family: 'Roboto',Verdana,Helvetica,Arial,sans-serif;
	font-weight: 300;
}